@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;600%display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(my\ girl.jpg) no-repeat center center fixed;
    background-size: cover; /* THIS makes it full screen */
    position: relative;
}
.overlay {
    position: fixed; /* cover the whole viewport */
    top: 0;
    left: 0;
    height:  100;
    width: 100;
    background-color: rgba(0, 0, 0, 0, 0.45); /* soft black tint */
    z-index: 1;
}
.container {
    padding: 40px;
    position: relative;
    z-index: 2; /* above overlay so content is visible */
    text-align: center;
}
h1 {
    font-size: 48px;
    font-family: 'Pacifico', cursive; /* girly script font */
    margin-bottom: 10px;
    color: #ffb6c1; /* soft pink */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0, 0.5);
    z-index: 2;
}
p {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    z-index: 2;
}
.heart {
    font-size: 5em;
    color: #ff1a8c;
    animation: pulse 1.5s infinite ease-in-out;
    z-index: 2;
}
@keyframes pulse {
    0% {transform: scale(1); }
    50% {transform: scale(1.2); }
    100% {transform: scale(1); }
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ff1a8c;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 10px;
}
.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    z-index: 2;
}
button {
    padding: 15px 30px;
    font-size: 1.2em; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
}
#yesBtn {
    background-color: silver;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black; /* text color */
}
#noBtn {
    background: silver;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: black; /* text color */
}